.DS_Store
*.mypy_cache
.envrc
data
.direnv/
app_code/__pycache__/config.cpython-310.pyc
app_code/__pycache__/db.cpython-310.pyc
app_code/__pycache__/detection_stats.cpython-310.pyc
app_code/__pycache__/enc_client.cpython-310.pyc
app_code/__pycache__/login1.cpython-310.pyc
app_code/__pycache__/main_win.cpython-310.pyc
app_code/__pycache__/progress_bar.cpython-310.pyc
app_code/__pycache__/report_case.cpython-310.pyc
app_code/__pycache__/results_win.cpython-310.pyc
app_code/__pycache__/sendCurl.cpython-310.pyc
app_code/__pycache__/sign_up1.cpython-310.pyc
